
<html>
<body>
  <h3> Multiple Question Interface </h3>
  
  <form>
  <fieldset id="group1">
  <h4>How many days do we have in a week?</h4>
  <input type="radio" id="male" name="gender" value="male">
  <label for="male">Language</label><br>
  <input type="radio" id="female" name="gender" value="female">
  <label for="female">MEME</label><br>
  <input type="radio" id="other" name="gender" value="other">
  <label for="other">Other</label> 
  </fieldset>

  <fieldset id="group2">
  <h4>How many days are there in a year?</h4>
  <input type="radio" id="u" name="bio" value="male1">
  <label for="male">Language</label><br>
  <input type="radio" id="female" name="bio" value="female">
  <label for="female">MEME</label><br>
  <input type="radio" id="other" name="bio" value="other">
  <label for="other">Other</label> 
  </fieldset>


  <fieldset id="group2">
  <h4>How many colors are there in a rainbow?</h4>
  <input type="radio" id="male" name="gender" value="male">
  <label for="male">Language</label><br>
  <input type="radio" id="female" name="gender" value="female">
  <label for="female">MEME</label><br>
  <input type="radio" id="other" name="gender" value="other">
  <label for="other">Other</label> 
  </fieldset>


  <fieldset id="group2">
  <h4>Which animal is known as the ‘Ship of the Desert?</h4>
  <input type="radio" id="male" name="gender" value="male">
  <label for="male">Language</label><br>
  <input type="radio" id="female" name="gender" value="female">
  <label for="female">MEME</label><br>
  <input type="radio" id="other" name="gender" value="other">
  <label for="other">Other</label> 
  </fieldset>


  
  <fieldset id="group2">
  <h4>How many letters are there in the English alphabet?</h4>
  <input type="radio" id="x" name="gender" value="male">
  <label for="male">Language</label><br>
  <input type="radio" id="female" name="gender" value="female">
  <label for="female">MEME</label><br>
  <input type="radio" id="other" name="gender" value="other">
  <label for="other">Other</label> 
  </fieldset>


  <fieldset id="group2">
  <h4>How many consonants are there in the English alphabet?</h4>
  <input type="radio" id="male" name="gender" value="male">
  <label for="male">Language</label><br>
  <input type="radio" id="female" name="gender" value="female">
  <label for="female">MEME</label><br>
  <input type="radio" id="other" name="gender" value="other">
  <label for="other">Other</label> 
  </fieldset>

  <fieldset id="group2">
  <h4>How many sides are there in a triangle?</h4>
  <input type="radio" id="male" name="gender" value="male">
  <label for="male">Language</label><br>
  <input type="radio" id="female" name="gender" value="female">
  <label for="female">MEME</label><br>
  <input type="radio" id="other" name="gender" value="other">
  <label for="other">Other</label> 

  <fieldset id="group2">
  <h4>We smell with our</h4>
  <input type="radio" id="male" name="gender" value="male">
  <label for="male">Language</label><br>
  <input type="radio" id="female" name="gender" value="female">
  <label for="female">MEME</label><br>
  <input type="radio" id="other" name="gender" value="other">
  <label for="other">Other</label> 

  </form>

</body>
</html>
