
<html>
<body>
  <h3> Multiple Question Interface </h3>
  
  <form>
  <fieldset id="group1">
  <h4>what is Html?</h4>
  <input type="radio" id="male" name="gender" value="male">
  <label for="male">Language</label><br>
  <input type="radio" id="female" name="gender" value="female">
  <label for="female">MEME</label><br>
  <input type="radio" id="other" name="gender" value="other">
  <label for="other">Other</label> 
  </fieldset>

  <fieldset id="group2">
  <h4>what is Html?</h4>
  <input type="radio" id="u" name="bio" value="male1">
  <label for="male">Language</label><br>
  <input type="radio" id="female" name="bio" value="female">
  <label for="female">MEME</label><br>
  <input type="radio" id="other" name="bio" value="other">
  <label for="other">Other</label> 
  </fieldset>


  <fieldset id="group2">
  <h4>what is Html?</h4>
  <input type="radio" id="male" name="gender" value="male">
  <label for="male">Language</label><br>
  <input type="radio" id="female" name="gender" value="female">
  <label for="female">MEME</label><br>
  <input type="radio" id="other" name="gender" value="other">
  <label for="other">Other</label> 
  </fieldset>


  <fieldset id="group2">
  <h4>what is Html?</h4>
  <input type="radio" id="male" name="gender" value="male">
  <label for="male">Language</label><br>
  <input type="radio" id="female" name="gender" value="female">
  <label for="female">MEME</label><br>
  <input type="radio" id="other" name="gender" value="other">
  <label for="other">Other</label> 
  </fieldset>


  
  <fieldset id="group2">
  <h4>what is Html?</h4>
  <input type="radio" id="x" name="gender" value="male">
  <label for="male">Language</label><br>
  <input type="radio" id="female" name="gender" value="female">
  <label for="female">MEME</label><br>
  <input type="radio" id="other" name="gender" value="other">
  <label for="other">Other</label> 
  </fieldset>


  <fieldset id="group2">
  <h4>what is Html?</h4>
  <input type="radio" id="male" name="gender" value="male">
  <label for="male">Language</label><br>
  <input type="radio" id="female" name="gender" value="female">
  <label for="female">MEME</label><br>
  <input type="radio" id="other" name="gender" value="other">
  <label for="other">Other</label> 
  </fieldset>

  <fieldset id="group2">
  <h4>what is Html?</h4>
  <input type="radio" id="male" name="gender" value="male">
  <label for="male">Language</label><br>
  <input type="radio" id="female" name="gender" value="female">
  <label for="female">MEME</label><br>
  <input type="radio" id="other" name="gender" value="other">
  <label for="other">Other</label> 


  </form>

</body>
</html>
