
<html>
<body>
  <h3> Multiple Question Interface </h3>

  <h4>what is Html?</h4>
  <input type="radio" id="male" name="gender" value="male">
  <label for="male">Language</label><br>
  <input type="radio" id="female" name="gender" value="female">
  <label for="female">MEME</label><br>
  <input type="radio" id="other" name="gender" value="other">
  <label for="other">Other</label> 

  <h4>what is Html?</h4>
  <input type="radio" id="male" name="gender" value="male">
  <label for="male">Language</label><br>
  <input type="radio" id="female" name="gender" value="female">
  <label for="female">MEME</label><br>
  <input type="radio" id="other" name="gender" value="other">
  <label for="other">Other</label> 

  <h4>what is Html?</h4>
  <input type="radio" id="male" name="gender" value="male">
  <label for="male">Language</label><br>
  <input type="radio" id="female" name="gender" value="female">
  <label for="female">MEME</label><br>
  <input type="radio" id="other" name="gender" value="other">
  <label for="other">Other</label> 

  <h4>what is Html?</h4>
  <input type="radio" id="male" name="gender" value="male">
  <label for="male">Language</label><br>
  <input type="radio" id="female" name="gender" value="female">
  <label for="female">MEME</label><br>
  <input type="radio" id="other" name="gender" value="other">
  <label for="other">Other</label> 

  <h4>what is Html?</h4>
  <input type="radio" id="male" name="gender" value="male">
  <label for="male">Language</label><br>
  <input type="radio" id="female" name="gender" value="female">
  <label for="female">MEME</label><br>
  <input type="radio" id="other" name="gender" value="other">
  <label for="other">Other</label> 

  <h4>what is Html?</h4>
  <input type="radio" id="male" name="gender" value="male">
  <label for="male">Language</label><br>
  <input type="radio" id="female" name="gender" value="female">
  <label for="female">MEME</label><br>
  <input type="radio" id="other" name="gender" value="other">
  <label for="other">Other</label> 

  <h4>what is Html?</h4>
  <input type="radio" id="male" name="gender" value="male">
  <label for="male">Language</label><br>
  <input type="radio" id="female" name="gender" value="female">
  <label for="female">MEME</label><br>
  <input type="radio" id="other" name="gender" value="other">
  <label for="other">Other</label> 

</body>
</html>
